@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
    background-attachment: fixed;
    background: url('bg.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    width:100%;
    height:100%;
    margin:0px;
    border:0px;
    padding:0px;
}

a, a:link, a:visited {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration:none;
    opacity: .6;
    font-size:24px;
    text-align: center;
}

.column {
    margin: 0px;
    margin-left: 15%;
    background: rgba(0,0,0,.6);
    height: 100%;
    width: 25%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 5%;
    padding-top: 0px;
    padding-bottom: 0px;
}

h1 {
    font-size: 46px;
    font-weight: 800;
    margin: 0px;
}

#name {
    padding-top: 25%;
}

#projects, #contact {
    margin-top: 10%;
    padding-bottom: 0px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .column {
        width: 100%;
        margin: 0px;    
}
